# Ignore image files folder
/raw/

# Ignore common image file types anywhere
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (macOS)
.DS_Store

# Ignore environment files
.env
venv/
env/
